@{
    ViewData["Title"] = "Categories Using ajax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>Id</th>
                    <th>Category Name</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="text-center" id="table_data">

            </tbody>
        </table>
    </div>
</div>

<div style="position:fixed; right: 40px; bottom: 65px;" class="text-white">
    <a id ="btnAddCategory" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New </a>
</div>

<div class="modal fade modal" id="categoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="CategoryHeading">Add a New Category</h1>
                <button class="btn btn-outline-danger" data-dismiss="modal" onclick="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group text-center">
                        <img class="border-info" style="max-width: 150px" id="CategoryImagePreview" />
                    </div>
                    <div class="form-group" id="catId">
                        <label>Id</label>
                        <input type="text" class="form-control" id="CategoryId" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label>Category Image Url</label>
                        <input type="text" placeholder="Provide the image url" class="form-control" id="Imageurl" />
                    </div>
                    <div class="form-check-group">
                        <label>Category Name</label>
                        <input type="text" placeholder="Enter Category Name" class="form-control" id="Name" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" onclick="AddCategory();" id="addCategory">Add</button>
                <button class="btn btn-outline-warning" onclick="UpdateCategory();" id="updateCategory" style="display: none">Update</button>
                <button class="btn btn-outline-secondary" onclick="ShowCategoryData();">Show All</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/custom.js"></script>

<script>
    $(document).ready(function () {
        var output = document.getElementById('CategoryImagePreview');
        output.src = $("#Imageurl").val();
    });
    $("#Imageurl").on("change", function () {
        var output = document.getElementById('CategoryImagePreview');
        output.src = $(this).val();
    });
</script>